/**
 * Structure
 *
 * Stuff not controlled by the grid directly.
 */


/** Global content area */

body {
	 overflow-x: hidden;
}

.container {
	padding-left: 25px;
	padding-right: 25px;
}

	@include bp(sm) {
		.container {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

.content-area {
	float: left;
	width: 100%;	
}

.content-area,
.post-type-archive-job_listing .content-area {
	margin-top: 1.5em;
	margin-bottom: 2em;
}

	@include bp(sm) {
		.content-area {
			margin-top: 3.5em;
			margin-bottom: 3em;
		}
	}

	@include bp(md) {
		.content-area {
			margin-bottom: 4em;
		}

		.post-type-archive-job_listing .content-area {
			margin-top: 2.5em;
		}
	}

// Howl Custom

.image-headline-wrapper {
	height: auto !important;
	padding: 0 0 42px;
	position: relative;
	
	&:after {
		content: ' ';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,.55);
		z-index: 1;		
	}

	p {
		color: $white;
	}

	div {
    position: relative;
    z-index: 3;		
	}

	.image-widget-description {
    @include widget-description-copy($white, 21px);
	}

	.home-feature {
		margin-bottom: 0;

		.inner-feature-media {
			text-align: center;			
		}

		.home-feature-title {
			text-align: center;
			
			h3 {
				color: $white;
				font-size: 35px;
				font-weight: 100;
			}
		}
	}

}

.standard-description-module {
	background: $border-gray;
  float: left;
  padding: 35px 0;
  width: 100%;

	.standard-widget-description {
		@include widget-description-copy(#4d4d4d, 21px);
	}

	.home-feature {
		margin-bottom: 0;

		.home-feature-title {
			h3 {
				color: #4d4d4d;
				font-size: 32px;
			}
		}

		.home-feature-title,
		.home-feature-description {
			text-transform: uppercase;
		}
	}
}

.simple-callout-module {
  padding: 60px 0;
	float: left;
	width: 100%;

	&.dark-callout-module {
		background: $bg-dark-gray;

		.simple-callout-title {
			color: $white;
		}

		.simple-callout-description {
			p {
				color: $white;
			}
		}
	}

	.simple-callout-title {
	  font-size: 47px;
	} 

	.simple-callout-description {
	  p {
	  	font-size: 35px;
	  }
	}

	&.button-callout-module {
		.simple-callout-title {
		  font-size: 34px;
		  letter-spacing: 1px;
		}

		.simple-callout-description p {
		  font-size: 17px;
		  max-width: 640px;
		  margin: 0 auto;
		}

	}
}

.how-it-works-steps-module {
	padding-bottom: 95px;

	img {
		width: 100%
	}

	.callout-feature-content {
		padding: 7em 0;

		.callout-feature-title {
			font-weight: 100;
			color: #0a82dc;
		}

		p {
			margin-top: 0;
		}
	}
}

.small-text-description-block {
	.inner-leadertext-area {
	  max-width: 640px;
	  margin: 0 auto;		
	}
}

// Forms

.login-content-wrapper {
  max-width: 620px;
  display: block;
  margin: 0 auto 20px;	

  .form-row,
  .lost_password {
  	text-align: center;

  	label {
  		display: none !important;
  	}
  }

  .social-login-container {
		text-align: center;
		margin-bottom: 40px;

		.social-login-disclaimer {
			font-size: 14px;
			color: $medium-gray;
			margin-top: 20px;
			margin-bottom: 0;
		}
  }

	.wc-social-login {

		.button-social-login {
			padding: 2px 15px;
			width: 270px;
			font-size: 19px;
			font-family: $body-font-family;
			text-shadow: none;
			font-weight: 100;			

			.si {
				font-size: 28px;
			}
		}
		
	}

	.login-header-title-container {
		.home-widget-section-title {
			margin-bottom: 2em;

			.home-widget-title {
		    font-size: 37px;
		    line-height: 30px;				
			}

			.home-widget-description {
				font-size: 16px;
			}
		}
	}

	form {
		.input-text {
			background: $white;

		}

		input[type="submit"] {
			@include blue-btn;
			width: 100%;
			margin-bottom: 0;
		}
	}

}

.panel-pricing {
	background: $white;
	border: 2px solid $border-gray;
	box-shadow: none;
	

	&.light-bg {
		background: $border-gray;
	}

	&.blue-bg {
		background: $blue;

		h3,
		p,
		li,
		.clear-btn {
			color: $white;
		}

		.clear-btn {
			border: 1px solid $white;
		}
	}

	ul {
		margin: 0;
		font-family: $body-font-family;
		font-weight: 300;
	}

	.list-group {
		padding: 50px 0;
	}

	.list-group-item {
		background-color: transparent;		
		border: none;
		margin-bottom: 0;
		font-size: 16px;
	}

	.panel-body {
		p {
			font-size: 50px;
			line-height: 27px;

			span {
				font-size: 14px;
			}
		}
	}

	.panel-heading {
		h3 {
			text-transform: uppercase;
			font-size: 20px;
		}
	}
}

.alternate-login-header {
	.thin-line {
		display: inline-block;
		height: 1px;
		background: $light-gray;
		width: 32%;
		vertical-align: middle;		
	}

	p {
    display: inline-block;
    margin: 0px 14px;		
	}

}

form.login,
form.register {
	margin-top: 40px;
}

.form-disclaimer {
	p {
		font-size: 14px;
		color: $medium-gray;
	}
}